

body{
    
    height: 100vh;
  
    background-position: center;
    font-family: 'Roboto', sans-serif;
    background:linear-gradient(130deg,#6b1042,#4c4c4b);
   
    
}
.shopping-cart{
    width: 750px;
  height: 423px;
    background: linear-gradient(rgb(247, 244, 244),#f88dc8);
    
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding:5px 20px  ;
    border-radius: 6px;
 
    display: flex;
    flex-direction: column;
   
}
.titresomme{
  display:flex;
  padding:  10px 10px;
}
#sommetotal{
  position:relative;
  left:20px;
}
.item1{
    padding: 20px 10px;
  height: 120px;
  display: flex;
  border-top:  1px solid rgb(186, 189, 192);
  border-bottom:  1px solid rgb(186, 189, 192);
 
    /*padding:10px 10px;*/ 
}
.delet-heart{
    display: flex;
    position: relative;
    padding:  25px 20px ;  
}

.heart {
   
    padding-left: 17px;
  
}
    
  
.img{
    position:relative;
    width: 48%;
   height:100px;
   left:30px;
   margin-right: 50px;
 bottom: 12px;
}
.description span{
   
        
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
    right:67px;
    position:relative;
    
     
bottom:-12px;}

  .description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
  }
  .valeur{
    display: flex;
    bottom:-20px;
      position: relative;
   left:16px;
  }
  #clicks {
    
    border: none;
    text-align: center;
    width: 300px;
    
    color: #43484D;
    font-weight: 300;
  }
  .plus-btn{
    height: 25px;
  }
  .minus-btn{
    height: 25px;
  }
  .total-prix {
     
    position: relative;
    left:96px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
  .img1{
    position:relative;
    width: 48%;
   height:100px;
   left:30px;
   margin-right: 50px;
 bottom: 12px;
}
.description-item2 span{
   
        
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
    right:81px;
    position:relative;
    
     
bottom:-12px;}
.description-item2 span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
  }
  .valeur-item2{
    display: flex;
    bottom:-21px;
      position: relative;
   left:-13px;
  }
  .valeur-item2 input {
    
    border: none;
    text-align: center;
    width: 30px;
    
    color: #43484D;
    font-weight: 300;
  }
  .total-prix-item1 {
     
    position: relative;
    left:96px;
   
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
    border: none;
  
    width: 50px;
    top:18px;
    
    
  }
  .total-prix-item2 {
     
    position: relative;
    left:69px;
   
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
    border: none;
  
    width: 50px;
    top:18px;
    
    
  }
  .total-prix-item3 {
     
    position: relative;
    left:69px;
   
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
    border: none;
  
    width: 50px;
    top:18px;
    
    
  }


  
